<html>
  <head>
    <title>Add Someone</title>
  </head>
  <body>
    <h1>Lets make a contact :D</h1>
    <form action="/contact/<%= @contact['id'] %>" method="post" >
      <label for="first">First Name</label><br>
      <input type="text" name="first" autofocus value="<%= @contact['first'] %>"><br>

      <label for="last"> Last Name </label><br>
      <input type="text" name="last" value="<%= @contact['last'] %>"><br>

      <label for="age"> Age </label><br>
      <input type="number" name="age" value="<%= @contact['age'] %>"><br>

      <label for="gender"> Gender </label><br>
      <input type="text" name="gender" value="<%= @contact['gender'] %>"><br>

      <label for="dtgd"> Down To Get Down? </label><br>
      <input type="text" name="dtgd" value="<%= @contact['dtgd'] %>"><br>

      <label for="phone"> Phone </label><br>
      <input type="text" name="phone" value="<%= @contact['phone'] %>"><br>

      <button>Update Contact</button>
    </form>
  </body>
</html>